<p class="header">
  <a href="{{site.baseurl}}">Home</a> <br /> 
  <a href="https://github.com/tigoe/BallDropGame/tree/main/SerialJoystick">Serial Client</a> <br /> 
  <a href="https://github.com/tigoe/BallDropGame/tree/main/BallDropClient">Processing Client</a> <br /> 
  <a href="https://github.com/tigoe/BallDropGame/tree/main/BallDropWifiJoystickClient">WiFi Client</a> <br /> 
  <a href="https://github.com/tigoe/BallDropGame/tree/main/BallDropEthernetJoystickClient">Ethernet Client</a> <br /> 
 
</p>
 